{% extends "layout/application.html" %}

{% block content %}
    <div id="id01" class="w3-modal w3-card w3-margin-top" style="display: block">
        <div class="w3-modal-content w3-animate-top" style="width: 25%;" >
            <header class="w3-container red lighten-4 w3-padding w3-margin-bottom">
                <h5 class="center">Update Region</h5>
            </header>
            <form action="{% url 'update_region' %}" method="post" id="form">
                {% csrf_token %}
                <div class="w3-container">
                    <div class="section w3-padding">
                        <div class="input-field ">
                            <input type="text" value="{{ region.ref }}" name="jref" hidden>
                            <input placeholder="Region Name"
                                   id="region"
                                   name="region"
                                   type="text"
                                   class="validate"
                                  value="{{ region.region_name|title }}"
                            >
                            <label for="region">Region Name</label>
                            <span id="resp"></span>
                        </div>
                    </div>
                </div>
                <footer class="modal-footer section container">
                    {#                    <span class="waves-effect waves-light btn black white-text" onclick="document.getElementById('id01').style.display='none'">#}
                    {#                        Cancel#}
                    {#                    </span>#}
                    <a href="{% url 'region_index' %}" class="waves-effect waves-light btn black white-text">Cancel</a>
                    <button type="submit" class="btn  waves-effect waves-light blue submit">Submit</button>
                </footer>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $("#form").submit(function (e) {
            console.log("We are going");
            e.preventDefault();
            $.ajax({
                type:'POST',
                data: $(this).serialize(),
                url:'{% url 'update_region' %}',
                success:function(resp) {
                    if (resp.includes("html") ){
                        window.location.href = "{% url 'region_index' %}"
                    }
                    else {
                       $("#resp").html(resp).css('color', 'red');
                    }
                }
            });
        });
    </script>
{% endblock %}

