{% load static %}
<div class="navbar-fixed">
     <nav class="purple lighten-1">
         <div class="nav-wrapper">
             <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large "><i class="material-icons">menu</i></a>
{#             <a href="/" class="brand-logo text-uppercase">Address Book</a>#}
             <ul id="nav-mobile" class="right hide-on-med-and-down">
                 <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
             </ul>
         </div>
      </nav>
 </div>
{# Nav dropdown#}
 <ul id="dropdown1" class="dropdown-content">
     <li><a href="#!">Profile</a></li>
     <li class="divider"></li>
     <li><a href="#!">Logout</a></li>
     <li class="divider"></li>
 </ul>

{# Side Bar#}
 <div class="sidenav purple darken-2 " id="mobile-demo" >
     <div class="w3-padding w3-khaki text-uppercase w3-card-4 " id="sidenav-header">
         <h5 class="">Address Book</h5>
     </div>
    <div class="clearfix w3-clear "></div>
     <br>
     <div id="sidenav-header" >
         <div class="white circle w3-padding">
             <img src="{% static 'images/user1.png' %}" alt="user" class="responsive-img" width="100">
         </div>
     </div>
     <div class="clearfix w3-clear"></div>
     <h5 class="center-align white-text">Clem sedem</h5>
    <div class="clearfix w3-clear "></div>
     <div class="nav-wrapper" >
         <ul class="w3-ul ">
             <li >
                 <a href="{% url 'region_index' %}" class="nm white-text w3-large">
                     <i class="material-icons white-text">location_searching</i>
                     Locations
                 </a>
             </li>
         </ul>
     </div>
 </div>


 <style>
     #sidenav-header{
         min-height: 7% !important;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #sidenav-header h5{
     }
 </style>

